<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} scavengeo </title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><h1> scavengeo </h1></a><p class="subtitle"> find it. run it. </p>
    </header>
    {{ content }}
    <footer>
      <p> GRAFA | All Rights Reserved. </p>
    </footer> 
  </div>
</body>
</html>
