---
layout: default
---
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>
<![endif]-->

<h2 class="subtitle">{{page.title}}</h2>
<p class="author"><a href="http://twitter.com/{{ page.twitter}}">{{page.realname}}</a></p>
<img src="{{ page.snap }}" align="left" class="snap polaroid"/>
<span class="content">{{ content }}</span>
<div id='map' class="polaroid"></div>
<script type='text/javascript'>
var map = L.mapbox.map('map','{{ page.map }}')
    .setView([45.557, -122.667], 6);
// load the marker
var polylineLayer = L.mapbox.markerLayer()
    .loadURL('{{ page.geojson }}')
    .addTo(map);
// function to run once marker has loaded
polylineLayer.on('ready', function(){  
    polylineLayer.eachLayer(function(layer){
      map.fitBounds(polylineLayer.getBounds());
      if (parseInt(layer.feature.properties.time) < 30) {
        layer.setStyle( {color: 'green', dashArray:'10,10,10,10,10,10,10,10,10,10'});
        polylineLayer.bindPopup(layer.feature.properties.time);
      }
      else {
        layer.setStyle( { color: 'red'} );
      }
    });
});
</script>
<img src="{{ page.instagram }}" class="polaroid"/>