---
layout: default-maps
---
<div>
  <span><h2>{{page.title}}</h2>
  <div id='map' class="polaroid"></div>
  <span class="blog_content">{{ content }}</span>
  <p class="author">- <a href="http://twitter.com/{{ page.twitter}}">{{page.realname}}</a></p></span>
</div>
<div class="polaroid">
  <img src="{{ page.instagram }}" />
</div>
<script src="{{ page.geojson }}"></script>
<script type='text/javascript'>
var map = L.mapbox.map('map','{{ page.map }}');

var myIcon = L.divIcon({className: 'marker'});

var geojsonLayer = L.geoJson(geojson).addTo(map)
    .setStyle({color: 'red'}),
    marker = L.marker([45.631669,-121.970994],{icon: myIcon})
    .addTo(map),
    j = 0;

tick();
function tick() {
    // set the marker to be at the same point as one of the segments
    // of the line
    marker.setLatLng(L.latLng(
        geojson.features[0].geometry.coordinates[j][1],
        geojson.features[0].geometry.coordinates[j][0]));

    // move to the next point in the line or loop to the first point if
    // j runs off the end of the array
    if (++j < geojson.features[0].geometry.coordinates.length) setTimeout(tick, 100);
}
</script>